<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>π test</title>
	<meta name="theme-color" content="#006687">	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/toastr.min.css">
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	      </button>
	      <a class="navbar-brand" href="#">Handling rasp GPIO</a>
	    </div>	    
	  </div>
	</nav>

	{{{body}}}

	<script src="/js/jquery.min.js" ></script>
	<script src="/js/bootstrap.min.js" ></script>
	<script src="/js/toastr.min.js"></script>
	<script>

		toastr.options = {
		  "closeButton": false,
		  "debug": false,
		  "newestOnTop": false,
		  "progressBar": false,
		  "positionClass": "toast-bottom-center",
		  "preventDuplicates": false,
		  "onclick": null,
		  "showDuration": "300",
		  "hideDuration": "1000",
		  "timeOut": "5000",
		  "extendedTimeOut": "1000",
		  "showEasing": "swing",
		  "hideEasing": "linear",
		  "showMethod": "fadeIn",
		  "hideMethod": "fadeOut"
		};

	</script>
	<script src="/js/script.js"></script>
</body>
</html>