<div class="container">
	<div class="row text-center">
		<div class="col-xs-4 col-lg-4 ">
			<a id="verde" type="button" class="btn btn-primary btn-block">Verde</a>
		</div>
		<div class="col-xs-4 col-lg-4">
			<a id="amarillo" type="button" class="btn btn-primary btn-block">Amarillo</a>
		</div> 
		<div class="col-xs-4 col-lg-4">
			<a id="rojo" type="button" class="btn btn-primary btn-block">Rojo</a>
		</div>
	</div>
</div>
